
<!--<form class = "information">
  <mat-form-field appearance="fill" >
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
</form> -->

<form [formGroup]="friendsForm">
  <label>First name:</label><br>
  <input type="text" formControlName="firstName"><br><br>
  <label>Last name:</label><br>
  <input type ="text" formControlName="lastName"><br><br>
  <label>Email:</label><br>
  <input type="text" formControlName="email"><br><br>
  <label>Phone number:</label><br>
  <input type="text" formControlName="phone"><br><br>
  <label>Favourite language:</label><br>
  <select formControlName="favouriteLanguage">
    <option *ngFor="let language of languages" [value]="language">{{language}}</option>
  </select>


  <input type="submit" value="Submit">

  {{friendsForm.getRawValue() | json}}
  {{friendsForm.valid}}
</form>



