
<!--<form class = "information">
  <mat-form-field appearance="fill" >
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
</form> -->

<form>
  <label>First name:</label><br>
  <input type="text"><br><br>
  <label>Last name:</label><br>
  <input type ="text"><br><br>
  <label>Email:</label><br>
  <input type="text"><br><br>
  <label>Phone number:</label><br>
  <input type="text"><br><br>
  <label>Favourite language:</label><br>
  <input type="text"><br><br>
  <input type="submit" value="Submit">
</form>



